.batchList_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding:20px 24px 24px 24px;
    .batchList_type{
        width: 100%;
        height: 150px;
        background: #ffffff;
        border-radius: 10px;
        padding: 24px;
        margin: 0 0 20px;
        .batchList_form {
            width: 100%;
            display: flex;
            align-items: center;
            .ant-form-horizontal {
                display: flex;
            }
        }
    }
    .batchList_list {
        flex: 1;
        background: #ffffff;
        border-radius: 10px;
        padding: 24px;
        margin: 0 0 20px;
        .batchList_list_title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }
}